@*
 * This template is called from the `index` template. This template
 * handles the rendering of the page header and body tags. It takes
 * two arguments, a `String` for the title of the page and an `Html`
 * object to insert into the body of the page.
 *@
@(title: String)(content: Html)

<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <meta charset="utf-8">
    <head>
        @* Here's where we render the page title `String`. *@

        <title>Clinica Santa Fe</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">


    </head>

    <body>

    <div class="panel panel-default">
        <div class="col-md-4">

                <span><img src="@routes.Assets.versioned("images/logo2.png")" ></span>

        <p></p>

            <ul class="nav nav-pills">



                <li class="disabled"><a href="#">Home</a></li>
                <li class="disabled"><a href="#">Paciente</a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        Medico <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#">General</a></li>
                        <li><a href="#">Especialista</a></li>
                    </ul>

                </li>



                <input type="text" class="form-control" placeholder="Search">
        </div>

            </div>







     @* And here's where we render the `Html` object containing
         * the page content. *@
        @content
     <script src="http://code.jquery.com/jquery.min.js"></script>
     <script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    </body>
</html>
