@helper.form(routes.PacienteController.create) {
<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<head>
    <meta charset="UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="css/bootstrap-theme.min.css" rel="stylesheet" media="screen">
    <link href="css/my-styles.css" rel="stylesheet" media="screen">
    <title>Clinica</title>
</head>

<body>
<div class="page-header">

    <div class="container">
        <div class="row">
            <div class="col-md-1">
                <span><img src="@routes.Assets.versioned("images/logoTelefono.png")" class="img-responsive" alt="Imagen responsive" width="50" height="50"></span>

            </div>

            <div class="col-md-2">
                <a href="tel://666777888">428 41 98</a>
                <br>
                <a href="tel://666777888">428 34 99</a>
            </div>
            <div class="col-md-6">
                <span><img src="@routes.Assets.versioned("images/logo2.png")" class="img-responsive" alt="Imagen responsive"></span>
            </div>

            <div class="col-md-1">
                <span><img src="@routes.Assets.versioned("images/logoMensaje.png")" class="img-responsive" alt="Imagen responsive" width="50" height="50"></span>

            </div>

            <div class="col-md-2">
                <br>
                <a href="https://github.com/amespinosa11/ClinicaSantaFe/wiki">Contáctenos</a>
            </div>

        </div>
    </div>
</div>

<div class="container">

    <div class="container">

        <nav class="navbar navbar-inverse"  role="navigation">
            <!-- El logotipo y el icono que despliega el menú se agrupan
                 para mostrarlos mejor en los dispositivos móviles -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Desplegar navegación</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand"  href="/">Inicio</a>
            </div>

            <!-- Agrupar los enlaces de navegación, los formularios y cualquier
                 otro elemento que se pueda ocultar al minimizar la barra -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/nosotros">Nosotros</a></li>
                    <li><a  href="/nuestrosServicios">Nuestros Servicios</a></li>
                    <li><a  href="/nuestrosMedicos">Nuestros Medicos</a></li>
                </ul>
                </li>
                </ul>


                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#" >Contáctenos</a></li>
                </ul>
            </div>
        </nav>
        <br>
        <br>
        <br>
    </div>

    <div class="container">
        <div class="container">
            <div class="col-md-3">

            </div>
            <div class="col-md-6">
                <form role="form">
                    <div class="form-group">
                        <label for="nombrePaciente">Nombre</label>
                        <input type="nombrePaciente" class="form-control" id="nombrePaciente"
                               name="nombrePaciente" placeholder="Introduce tu nombre">
                    </div>
                    <div class="form-group">
                        <label for="apellidoPaciente">Apellido</label>
                        <input type="apellidoPaciente" class="form-control" id="apellidoPaciente"
                               name="apellidoPaciente"  placeholder="Introduce tu apellido">
                    </div>
                    <div class="form-group">
                        <label for="correoPaciente">Correo</label>
                        <input type="email" class="form-control" id="correoPaciente"
                               name="correoPaciente"  placeholder="Introduce tu correo">
                    </div>

                    <div class="form-group">
                        <label for="correoPaciente">Edad</label>
                        <input type="edad" class="form-control" id="edadPaciente"
                               name="edadPaciente"  placeholder="Introduce tu edad(ej: 18)">
                    </div>

                    <div class="form-group">
                        <label for="correoPaciente">Peso</label>
                        <input type="peso" class="form-control" id="pesoPaciente"
                               name="pesoPaciente"  placeholder="Introduce tu peso(ej: 50)">
                    </div>

                    <div class="form-group">
                        <label for="correoPaciente">Estatura</label>
                        <input type="estatura" class="form-control" id="estaturaPaciente"
                               name="estaturaPaciente"  placeholder="Introduce tu estatura(ej: 150 cm)">
                    </div>

                    <div class="form-group">
                        <label for="correoPaciente">Sexo</label>
                        <input type="sexo" class="form-control" id="sexoPaciente"
                               name="sexoPaciente"  placeholder="Introduce tu sexo(Mujer-Hombre)">
                    </div>

                    <div class="form-group">
                        <label for="correoPaciente">Contraseña</label>
                        <input type="password" class="form-control" id="contraseñaPaciente"
                               name="contraseñaPaciente"  placeholder="Introduce tu contraseña">
                    </div>

                    <button type="submit" class="btn btn-default">Enviar</button>
                </form>
            </div>
            <div class="col-md-3">

            </div>

    </div>

<script src="http://code.jquery.com/jquery.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

</body>
</html>
}